node_modules/
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

coverage/

.vscode/
.idea/
*.code-workspace

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db

.env
.env.local
*.env.*

dist/
build/
*.swp
*.swo